
$darkMode:#20222F;
$box_bg:#252B42;
$box_hover:#333A55;
$white: white;
$black:black;
$green:#1EB589;
$text_light:#8C98C6;
$red:#DC414C;

$light_mode:#F7F9FF;
$box_bg_light:#F1F3FA;
$text_black:#1D1F29;
$box_hover_light:#E1E4F0;




*{
    box-sizing: border-box;
}

body {
padding: 0;
margin: 0;
}

.dark_mode{
    background-color:$darkMode;
}
.light_mode{
    background-color: $light_mode;
}

body div {
 
}